*{
    margin: 0px;
    padding: 0px;
}


nav{
    width: 100%;
    margin: 0px auto 40px auto;
    background-color: rgb(244, 239, 255);
    top: 0px;
}


nav  ul {
    list-style-type: none;
    display: flex;
    padding: 0px;
}


nav li{
    width: 50%;
    text-align: center;
}


nav ul::after{
    content: "";
    display: table;
    clear: both;
}


#historique {
    color: #3c6997;
}


nav a{
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
    padding: 15px 0px;
}


nav a:hover{
    color: rgb(89, 0, 255);
    border-bottom: 2px solid rgb(89, 0, 255);
}


body {
    background-color: rgb(190, 154, 255);
} 


section {
    display: flex;
    justify-content: space-around;
    line-height: 20px;
}


p{
    font-weight: 400px;
    font-size: 25px;
    text-align: center;
}


.tableau > div {
    margin-top: 15px;
    font-size: 17px;
    text-align: center;
}


